
#js-map {
    margin: 10px;
    margin-left: 15%;
    width: 1080px;
    height: 560px;
}



.navbar {
    width: 100%;
    background-color: #333;
    overflow: hidden;
  }

  .navbar h1 {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 14px;

  }

  .navbar-logo {
    margin-left: 10px;
    margin-right: 10px;

    float: left;
    width: 100px; /* Adjust the size of the logo */
    height: 100px;
    background: url('img/ehtp.couleur.png') no-repeat;
    background-size: cover;
  }
  .legend {
    position: absolute;
    top: 140px;
    left: 10px;
    background: white;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    z-index: 100;
  }
  .legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  .legend-symbol {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border: 1px solid #999;
  }

  .custom-mouse-position {
    top: 10px;
    left: 10%;
    position: absolute;
    background: rgba(255,255,255,0.8);
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ddd;
  }
  